
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");


.home-card {
  padding: 50px;
  margin: 20px;
}

.text-red {
  color: red;
}

.align-right {
  display: grid;
  grid-gap: 20;
  justify-content: end;
  align-items: center;
  grid-auto-flow: column;
  margin-bottom: 20px;
}

.active {
  color: #0D6EFD
}